<tbody style="display: block; width: 600px; margin: 0 auto;" align="center">
    <tr style="display: block;" height="105" background="{{ BASE_CLIENT_URL }}/images/index/header-shadow.png">
        <td style="padding: 10px 0;">
            <img src="{{ BASE_CLIENT_URL }}/images/index/logo-for-email.png" alt="Eatchefs" style="width: 105px; padding-left: 160px;" />
        </td>
        <td style="padding: 10px 0;">
            <a href="http://eatchefs.com" style="color: #646464; font: 16px Arial, sans-serif; padding-left: 80px;">View site</a>
        </td>
    </tr>
</tbody>
